/Homework_Lesson1/Bai1/build/
/Homework_Lesson1/Bai1/nbproject/private/
/Homework_Lesson7/Bai1/build/
/Homework_Lesson7/Bai1/nbproject/private/
/Homework_Lesson7/Bai2/build/
/Homework_Lesson7/Bai2/nbproject/private/